127.0.0.1 localhost

127.0.1.1 {{ inventory_hostname_short }}.{{ pri_domain_name }} {{ inventory_hostname_short }}

{% for host in groups['k8s_master'] %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} {{ host }}.{{ pri_domain_name }} {{ host }}
{% endfor %}
{% for host in groups['k8s_workers'] %}
{{ hostvars[host]['ansible_host'] }} {{ host }}.{{ pri_domain_name }} {{ host }}
{% endfor %}
